@model Audi.Models.serie5

@{
    ViewBag.Title = "Edit";
}

<div class="container">
    <h2 class="mt-4">Editar registro @Html.DisplayFor(model => model.id_coche)</h2>


    @using (Html.BeginForm("Edit", "serie5", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id_coche)

    <div class="form-group">
        Nombre
        <div class="col-md-10">
            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group pt-3">
        Modelo
        <div class="col-md-10">
            @Html.EditorFor(model => model.modelo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.modelo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group pt-3">
        CV
        <div class="col-md-10">
            @Html.EditorFor(model => model.cv, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.cv, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group pt-3">
        Consumo
        <div class="col-md-10">
            @Html.EditorFor(model => model.consumo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.consumo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group pt-3">
        Imagen
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.imagen, new { htmlAttributes = new { @class = "form-control" } })*@
            <img width="100px" src="@Url.Action("getImage","serie5", new { id= Model.id_coche})" />
            @Html.ValidationMessageFor(model => model.imagen, "", new { @class = "text-danger" })
            <div class="input-group">
                <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
            </div>
        </div>
    </div>

    <div class="form-group pt-3">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-primary border border-dark" />
        </div>
    </div>
</div>
    }

    <div class="py-3">
        @Html.ActionLink("Volver a la lista", "Index", new { area = "" }, new { @class = "btn btn-light border border-dark" })
    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
